@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  body {
    background: white !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  
  #receipt {
    width: 210mm !important;
    min-height: 297mm !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 15mm !important;
    margin: 0 !important;
  }
  
  /* Hide unnecessary elements during print */
  .no-print {
    display: none !important;
  }
}